//colors variables
@header: #333;
@border: #eee;
@background: #fff;

//grid variables
@min-width-sm: 768px;
@min-width-md: 992px;
@min-width-lg: 1200px;
@width-sm: 750px;
@width-md: 970px;
@width-lg: 1170px;

//General classes
.margin-padding-lr{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.margin-padding-b{
	margin-bottom: 15px !important;
	padding-bottom: 15px !important;
	padding-top: 15px !important;
}
.btn-add{
	margin-top: 15px !important;
	border-radius: 50% !important;
	border-color: @border;
	float: right;
	background-color: @background;
	.btn-add:hover{
		background-color: @border;
	}
}
	

//ClassStyle
.page-header{
	color:@header;
	font-family: 'Abel', sans-serif;
	small{font-size: 55%}
}
.body{
	@media (min-width: @min-width-sm) {width: @width-sm};
    @media (min-width: @min-width-md) {width: @width-md};
    @media (min-width: @min-width-lg) {width: @width-lg};
    .margin-padding-lr;
	ul{
		list-style-type: none;
		float: left;
		-webkit-padding-start: 15px;
	}
}
.list{
	@media (min-width: @min-width-sm) {width: 58.33333333%};
    @media (min-width: @min-width-md) {width: 58.33333333%};
    @media (min-width: @min-width-lg) {width: 58.33333333%};
    li{
		padding-left: -15px;
	}
}
#box{
	@media (min-width: @min-width-sm) {width: 41.66666666%};
    @media (min-width: @min-width-md) {width: 41.66666666%};
    @media (min-width: @min-width-lg) {width: 41.66666666%};
    .margin-padding-lr;
    float: right;
}
.box{
    border: 1px solid @border;
    .page-header; 
    text-align: center;
    .margin-padding-b
}

.item {
	border: 1px solid @border;
    font-family: 'Raleway', sans-serif;
    .margin-padding-b;
    .margin-padding-lr;
}

//tag styles
span{
	margin-top: 20px !important;
	float: right;
	.margin-padding-lr;

}
p{
	display: inline;
	.margin-padding-lr;
}
