.margin-padding-lr {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.margin-padding-b {
  margin-bottom: 15px !important;
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}
.btn-add {
  margin-top: 15px !important;
  border-radius: 50% !important;
  border-color: #eeeeee;
  float: right;
  background-color: #ffffff;
}
.btn-add:hover {
  background-color: #eeeeee;
}
.page-header {
  color: #333333;
  font-family: 'Abel', sans-serif;
}
.page-header small {
  font-size: 55%;
}
.body {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .body {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .body {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .body {
    width: 1170px;
  }
}
.body ul {
  list-style-type: none;
  float: left;
  -webkit-padding-start: 15px;
}
@media (min-width: 768px) {
  .list {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .list {
    width: 55%;
  }
}
@media (min-width: 1200px) {
  .list {
    width: 55%;
  }
}
.list li {
  padding-left: -15px;
}
.list span {
  margin-top: 20px;
  float: right;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.list p {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Raleway', sans-serif;
}
#box,
box-title {
  float: right;
  border: 1px solid #eeeeee;
}
@media (min-width: 768px) {
  #box,
  box-title {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #box,
  box-title {
    width: 43.666666%;
  }
}
@media (min-width: 1200px) {
  #box,
  box-title {
    width: 43.666666%;
  }
}
.box {
  color: #333333;
  font-family: 'Abel', sans-serif;
  margin-bottom: 15px !important;
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}
.box small {
  font-size: 55%;
}
.box h2 {
  text-align: center;
}
.box h3 {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  padding-bottom: 15px;
}
.box .btn {
  margin: 15px;
  font-size: 18px;
  text-align: center;
  display: block;
  width: 94%;
}
.box ul {
  margin-top: 15px;
}
.box li {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  display: inline-block;
}
.box li p {
  display: inline;
  text-align: left;
}
.box li span {
  float: right;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.item {
  border: 1px solid #eeeeee;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 15px !important;
  padding-bottom: 15px !important;
  padding-top: 15px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.fa-trash {
  color: #a2a2a2;
}
.fa-trash:hover {
  color: #2f2f2f;
  cursor: pointer;
}
