//colors variables
@header: #333;
@border: #eee;
@background: #fff;
@background-blue: #00cccc;
@basecolor: #ddeae6;
@bnbasecolor: #ffeead;

/*--------HEADINGS-----------*/
h1, h2, h3 {
    font-family: 'Abel', sans-serif;
}
.jumbotron{
    h1{
        font-size: 44px;
    }
    h2{
    	font-size: 22px;
    	font-family: 'Raleway', sans-serif;
    	margin-top: -0%;
    }
}

/*---------LIST-------------*/
#fun-list .col-md-7 {
	border: 1px solid @header;
    ul{
        padding: 0 !important;
        li{
            list-style: none;
            padding: 2%;
        }
    }
    .top{
        padding-top: 5%;
    }
}


/*---------BOX--------------*/
#fun-box .col-md-4 {
	border: 1px solid @header;
}