/*--------HEADINGS-----------*/
h1,
h2,
h3 {
  font-family: 'Abel', sans-serif;
}
.jumbotron h1 {
  font-size: 44px;
}
.jumbotron h2 {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  margin-top: 0%;
}
/*---------LIST-------------*/
#fun-list .col-md-7 {
  border: 1px solid #333333;
}
/*---------BOX--------------*/
#fun-box .col-md-4 {
  border: 1px solid #333333;
}
